.nav-item > a {
    color: #222831;

  }
  .nav-item > a:hover {
    color: #a6b1e1;
  }
h3 {
    padding: 0 0 15px 0;
    margin: 0 0 10px 0;
    color: #FF0000;
  }
h5 {
    padding: 25px 0 10px 0;
    margin: 0 0 10px 0;
}
form {

    display: block;
    flex-direction: column;
    width: 95vw;
    height: 70vh;
    margin: 50px 0 0 60px;
}
div {

    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
}

input {
    display: inline-block;
    width: 46%;
    min-width: 100px;
    text-align: left;
    border: 1px solid #d9d9d9;
}
input:hover {
    border: 1px solid #b6bcd8;
}
input:focus {
    outline: 1px solid #b6bcd8;
  }
label {
    display: inline-block;
    width: 200px;
    min-width: 190px;

    text-align: left;

}
span {

    display: inline-block;
    width: 46%;
    min-width: 100px;
    text-align: left;
}
button {
    padding: 5px 10px;
    margin: 0 0;
    color: white;
    background-color: #4d90fe;
    border: none;
    border-radius: 2px;
    cursor: default;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    float: right;
}
button:hover {
    background-color: #4d9aff;
  }
p {
    font-family: 'Montserrat';
    color: black;
}
